.button
	display inline-block
	min-width 135px
	text-align center
	c #fff
	font-family: fa
	font-style: normal
	font-weight: normal
	font-size: 17px
	line-height: 28px
	text-decoration none
	background:#F15002
	border-radius 14px
	padding 12px 24px
	cursor pointer
	transition all .25s ease-out
	&:hover
		background: #f85f72
		