.overlayer-load
	position fixed
	// background #e3e
	height 100vh
	width 100%
	z-index 1000
	&.is-active
		.items-load
			width 0
	.items-load
		position absolute
		top 0
		height 100vh
		width 33.3333%
		display block
		z-index 10
		transition width .8s cubic-bezier(0.65, 0.05, 0.36, 1)
		&.load-one
			right 0
			background #989898
		&.load-two
			right 33.333%
			background #989898
		&.load-three
			right 66.666%
			background #989898

	



.header
	position relative
	height 100vh
	min-height: 600px
	background-size cover
	background-position center 0
	overflow hidden
	z-index 100

.burger-icon
	position absolute
	top 50px
	right 15px
	display none
	width 24px
	height 24px
	span
		display block
		width 24px
		height 2px
		background #ffffff
		&:not(:last-child)
			margin-bottom 5px

.right-sidebar
	display flex
	align-items center
	position absolute
	right -210px
	top 0
	min-width 210px
	height 100vh
	background: linear-gradient(270deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.4) 100%)
	opacity 0

.close-sidebar
	position absolute
	display none
	width 24px
	height 24px
	left -35px
	top 15px
	span
		position absolute
		top 11px
		display block
		width 100%
		height 2px
		background #000
		&:first-child
			transform rotate(45deg)
		&:last-child
			transform rotate(-45deg)

.right-menu
	// position: absolute
	-webkit-transform: rotateZ(90deg) translate(0, -210px)
	transform: rotateZ(90deg) translate(0, -210px)
	-webkit-transform-origin: top left
	transform-origin: top left
	text-align: center
	// top: 50%
	// left: 192px
	// min-width: 500px
	// margin-top: -250px
	li
		margin-bottom 5px
		&.active,
		&:hover
			a
				c#fff
	a
		font-family fo
		font-size: 12px
		font-weight 400
		line-height: 16px
		color: #191919
		text-decoration none
		trn(.2s)


.header-main
	padding-top 30px
	padding-bottom 25px
	height 100vh
	display flex
	flex-direction column
	justify-content space-between

.header-content
	color #fff
	h1
		position relative
		top -150px
		opacity 0
		font-family: Arial
		font-weight: bold
		font-size: 56px
		line-height: 64px
		color #fff
		max-width 740px
		margin-bottom 34px
	p
		position relative
		left 200px
		opacity 0
		font-family: fo
		font-style: normal
		font-weight: 300
		font-size: 28px
		line-height: 40px
		max-width 590px

.logo-link
	position relative
	top -80px
	display inline-block
	opacity 0

.header-bottom
	padding-top 50px

.link-copy
	position relative
	bottom -80px
	opacity 0
	li
		display inline-block
		&:last-child
			&:after
				display none
		&:after
			position relative
			content '|'
			margin 0 6px 0 8px
			color #fff
		&:hover a
			color #F37E34
	a
		font-size: 14px
		line-height: 20px
		color #fff
		text-decoration none
		trn(.2s)


// Button Header

.pulse-button
	position absolute
	display flex
	align-items center
	justify-content center
	bottom -165px
	right -65px
	width 200px
	height 200px
	background #fff
	brr(50%)
	opacity 0

	&:before
		-webkit-transform: scale(1)
		transform: scale(1)
		-webkit-animation: pulse 5s 2s infinite ease-out
		animation: pulse 5s 2s infinite ease-out

	&:after
		-webkit-transform: scale(1.15);
		transform: scale(1.15);
		-webkit-animation: pulse 4s 1s infinite ease
		animation: pulse 4s 1s infinite ease
	
	&:before, &:after
		content: ''
		position: absolute
		top: -25px
		left: -25px
		width: 250px
		height: 250px
		border: 1px solid rgb(255 255 255)
		box-shadow: 0 0 20px 1px rgba(255, 255, 255, .7) inset
		border-radius: 50%
		z-index: 100

@-webkit-keyframes pulse
	0% {
		-webkit-transform: scale(0.6);
		transform: scale(0.6);
		opacity: 0;
	}

	90% {
		-webkit-transform: scale(1);
		transform: scale(1);
		opacity: 1;
	}

	100% {
		-webkit-transform: scale(1);
		transform: scale(1);
		opacity: 0;
	}

@keyframes pulse
	0%
		-webkit-transform: scale(0.6)
		transform: scale(0.6)
		opacity: 0

	90%
		-webkit-transform: scale(1)
		transform: scale(1)
		opacity: 1

	100%
		-webkit-transform: scale(1)
		transform: scale(1)
		opacity: 0