@media screen and (max-width: 1260px)
  .home-slider .slick-arrow.slider-home--next
    right -30px
  .home-slider .slick-arrow.slider-home--prev
    left -30px

@media screen and (max-width: 1199px)
  .bloch
    .section
      overflow hidden
  .home-slider .slick-arrow.slider-home--next
    right -8px
  .home-slider .slick-arrow.slider-home--prev
    left -8px

@media screen and (max-width: 1024px)
  .blog-img--link
    margin-right 50px
  .blog-main
    padding 140px 0 120px
  .offset-padding--image-main
    padding-top 100px
    padding-bottom 60px
  .home-sections
    padding 50px 0
  .header-content
    h1
      font-size 48px
      line-height initial
      max-width 650px
    p
      font-size 24px

@media screen and (max-width: 991px)
  .image-main
    margin 0 -10px
    .image-main--items
      padding 0 10px
  .image-main .image-main--items .img-wrapper
    height 270px
    img
      width 100%
      height 100%
      object-fit: cover
  .image-main .image-main--items .img-main--name
    font-size 22px
    margin-top 16px
  .home-sections p
    font-family: fo
    font-style: normal
    font-weight: 300
    font-size: 24px
    line-height: 32px
    margin-bottom: 20px
  .home-sections .button-wrapper
    margin-top 24px
  .home-sections
    .heading-default
      margin-bottom 24px
      h4
        font-size 54px
        line-height inherit
  .home-sections
    padding 50px 0
  .section-slider
    padding: 30px 0 60px
  .close-sidebar,
  .burger-icon
    display block
  .right-sidebar
    justify-content center
    align-items flex-start
    padding-top 120px
    min-height: 600px
    background #c5c4c4
    right -210px !important
    opacity 0 !important
    trn(.2s)
    z-index 1000
    &.is-active
      right 0 !important
      opacity 1 !important
  .right-menu
    transform: rotateZ(0deg) translate(0, 0px)
  .footer-contact .contact-items h4
    font-size 40px
    margin-bottom 24px

@media screen and (max-width: 854px)
  .blog-post
    h1
      font-size 54px
      line-height inherit
      margin-bottom 20px
    p
      font-size 22px
      line-height 34px
  .blog-main--items-text p
    font-size: 22px
    line-height: 32px
  .modile-disable
    display none
  .blog-main--items-text h3, .blog-main--items-text h3 a
    font-size: 38px
    line-height: inherit
  .blog-main--items-text.full-blog--items p
    font-size: 18px
    line-height: 28px
  .blog-main--items-text span.date
    font-size 16px
    line-height 24px
  .blog-img--link
    min-width 350px

@media screen and (max-width: 768px)
  .blog-post
    img
      float none
      margin 20px auto
      display block
  .footer-contact .contact-items
    h4
      font-size 24px
      margin-bottom 10px
    i.icon
      min-height: 35px
      img
        max-height: 30px
    p, a
      font-size 16px
      line-height initial
  .button-contact
    margin-top 0
  .contact-item input
    margin-bottom 25px
  .contact-wrapper
    margin 0 -10px
    .col-md-6
      padding 0 10px
  .contact-fifty
    margin 0 -10px
    .col-md-6,
    .col-md-12
      width 100%
      padding 0 10px

@media screen and (max-width: 720px)
  .blog-img--link
    margin-right 30px
    min-width 280px
  .blog-main
    padding 80px 0

@media screen and (max-width: 640px)
  .home-sections
    .heading-default
      margin-bottom 18px
      h4
        font-size 34px
        line-height inherit
  .image-main .image-main--items .img-main--name
    font-size 17px
    line-height inherit
  .footer-contact .contact-items
    &:not(:last-child)
      margin-bottom 30px
    h4
      line-height inherit
    i.icon
      margin-bottom 10px
  .contact-wrapper
    padding 100px 0
    display block
    .col-md-6
      width 100%
  .contact-item textarea
    margin-bottom 25px
  .footer-contact
    display block
    .contact-items
      width 100%
  .footer-head
    min-height: initial
    padding-top 100px
    padding-bottom 100px
  .footer
    position relative
    max-height: 100% !important
    height 100%

@media screen and (max-width: 600px)
  .blog-post img
    max-width 100%
  .image-main .image-main--items
    width 50%
    padding-bottom 20px
  .image-main
    flex-wrap: wrap
  .offset-padding--image-main
    padding-top 60px
    padding-bottom 40px

@media screen and (max-width: 540px)
  .wrapper-button--blog
    padding-top 60px
  .blog-main--items
    flex-direction: column
  .blog-img--link
    margin-right 0
    margin-bottom 30px
    max-width 100%
  .blog-main--items:not(:last-child)
    margin-bottom 60px
  .image-main .image-main--items
    width 100%
    a
      display block
      max-width 360px
      margin 0 auto
  .home-sections p
    font-size 20px
  .header-content
    h1
      font-size 42px
    p
      font-size 20px
  .home-sections
    .heading-default
      margin-bottom 18px
      h4
        font-size 34px
        line-height inherit

@media screen and (max-width: 480px)
  .offset-padding--image-main
    padding-bottom 0
  .blog-post h1
    font-size 48px