extends layout.pug

block variabl
	- var title = ""

//- block header
//- 	include include/header

block main
	header(style="background-image: url(img/blog-bg.jpg)").header
		.right-sidebar
			.close-sidebar
				span
				span
			ul.right-menu
				li
					a(href="#") Contacts
				li
					a(href="#") Consutling
				li.active
					a(href="#") Blog
				li
					a(href="#") Community
				li
					a(href="#") Design & Engineering
				li
					a(href="#") Commercial Solar
				li
					a(href="#") Residential Solar
				li
					a(href="#") About Us
			.pulse-button--wrapper
				a(href="#").pulse-button
					+iconSvg('40', '40', '0 0 40 40', 'icon-pencil')
		.container
			.header-main
				.logo
					a(href="#").logo-link
						img(src="img/logo.png", alt="Logo")
					a(href="#").burger-icon
						span
						span
						span
				
				.header-content
					h1 Blog Title
					p We are a California based solar energy engineering company providing solar PV system design, on grid solar system design, and residential solar system design
				.header-bottom
					ul.link-copy
						li
							a(href="#") Terms of Use
						li
							a(href="#") Privacy Statement

	main.main
		section.blog-main
			.container
				.blog-main--wrapper
					.blog-main--items
						.blog-main--items-text
							h3
								a(href="#") Article #1
							p Quis quam vestibulum dignissim at amet, augue luctus. Lacus, massa viverra semper tellus ac interdum. Ultrices aliquam ipsum vel ipsum ut viverra auctor amet. Gravida bibendum integer sit nec consequat. Imperdiet at sed tortor, dignissim ac. Ipsum enim pellentesque pellentesque dictum dictum quam tortor.
					.blog-main--items
						.blog-main--items-text
							h3
								a(href="#") Article #2
							p Quis quam vestibulum dignissim at amet, augue luctus. Lacus, massa viverra semper tellus ac interdum. Ultrices aliquam ipsum vel ipsum ut viverra auctor amet. Gravida bibendum integer sit nec consequat. Imperdiet at sed tortor, dignissim ac. Ipsum enim pellentesque pellentesque dictum dictum quam tortor.
					.blog-main--items
						.blog-main--items-text
							h3
								a(href="#") Article #3
							p Quis quam vestibulum dignissim at amet, augue luctus. Lacus, massa viverra semper tellus ac interdum. Ultrices aliquam ipsum vel ipsum ut viverra auctor amet. Gravida bibendum integer sit nec consequat. Imperdiet at sed tortor, dignissim ac. Ipsum enim pellentesque pellentesque dictum dictum quam tortor.
					.blog-main--items
						.blog-main--items-text
							h3
								a(href="#") Article #4
							p Quis quam vestibulum dignissim at amet, augue luctus. Lacus, massa viverra semper tellus ac interdum. Ultrices aliquam ipsum vel ipsum ut viverra auctor amet. Gravida bibendum integer sit nec consequat. Imperdiet at sed tortor, dignissim ac. Ipsum enim pellentesque pellentesque dictum dictum quam tortor.

	div#footer-scroll
	footer.footer#footer
		.container
			.footer-head
				a(href="#").logo-footer
					img(src="img/logo.png", alt="")
			
			.footer-foot
				.footer-contact
					.contact-items
						h4.name EMAIL
						i.icon
							img(src="img/icon-mail.svg", alt="")
						.footer-contact--info
							a(href="mailto:plans@cngsolarengineering.com") plans@cngsolarengineering.com
					
					.contact-items
						h4.name PHONE
						i.icon
							img(src="img/icon-phone.svg", alt="")
						.footer-contact--info
							a(href="tel:1-818-617-0420") 1-818-617-0420
					
					.contact-items
						h4.name FIND US
						i.icon
							img(src="img/icon-marker.svg", alt="")
						.footer-contact--info
							p 1245 San Fernando Rd. #[br] San Fernando, CA 91340
		
	//- div#endr End
