extends layout.pug

block variabl
	- var title = ""

	//- block header
		//- include include/header

block main

	header(style="background-image: url(img/home.jpg)").header
		.right-sidebar
			.close-sidebar
				span
				span
			ul.right-menu
				li
					a(href="#") Contacts
				li
					a(href="#") Consutling
				li
					a(href="#") Blog
				li
					a(href="#") Community
				li
					a(href="#") Design & Engineering
				li
					a(href="#") Commercial Solar
				li
					a(href="#") Residential Solar
				li
					a(href="#") About Us

			.pulse-button--wrapper
				a(href="#").pulse-button
					+iconSvg('40', '40', '0 0 40 40', 'icon-pencil')
					//- +iconSvg('34', '32', '0 0 34 32', 'icon-star')

		.container
			.header-main
				.logo
					a(href="#").logo-link
						img(src="img/logo.png", alt="Logo")
					a(href="#").burger-icon
						span
						span
						span
				
				.header-content
					h1 Southern California’s largest solar engineering firmsmall text
					p Healing the world. One solar panel at a time.
				.header-bottom
					ul.link-copy
						li
							a(href="#") Terms of Use
						li
							a(href="#") Privacy Statement
	
	//- main.section_main

	//- include include/footer