extends layout.pug

block variabl
	- var title = ""

//- block header
//- 	include include/header

block main
	main.section_main

		block header
			include include/header

		.navigate-container.container
			ul.list-prewiev
				li
					a(href="home.html" target="_blank") Home
				li
					a(href="about.html" target="_blank") About Us
				li
					a(href="style.html" target="_blank") Style 1 version
				li
					a(href="contact.html" target="_blank") Contact
				li
					a(href="blog.html" target="_blank") Blog v1
				li
					a(href="blog-v2.html" target="_blank") Blog v2
				li
					a(href="post-v1.html" target="_blank") Post v1
				li
					a(href="post-v2.html" target="_blank") Post v2

	div#footer-scroll
	footer.footer#footer
		.container
			.footer-head
				a(href="#").logo-footer
					img(src="img/logo.png", alt="")
			
			.footer-foot
				.footer-contact
					.contact-items
						h4.name EMAIL
						i.icon
							img(src="img/icon-mail.svg", alt="")
						.footer-contact--info
							a(href="mailto:plans@cngsolarengineering.com") plans@cngsolarengineering.com
					
					.contact-items
						h4.name PHONE
						i.icon
							img(src="img/icon-phone.svg", alt="")
						.footer-contact--info
							a(href="tel:1-818-617-0420") 1-818-617-0420
					
					.contact-items
						h4.name FIND US
						i.icon
							img(src="img/icon-marker.svg", alt="")
						.footer-contact--info
							p 1245 San Fernando Rd. #[br] San Fernando, CA 91340
		//- +iconSvg('34', '32', '0 0 34 32', 'icon-star')