extends layout.pug

block variabl
	- var title = ""

block header
	include include/header

block main
	main.section_main

		.container

			#fullpage
				.section Text 1
				.section Text 2
				.section Text 3
				.section Text 4

			//- .pulse-bet
			//- 	a(href="#").button-head.status-bet
			//- 		span.icon-play
			//- 			+iconSvg('40', '40', '0 0 40 40', 'icon-pencil')
			//- h1 12345

			//- .box-edit Text preview

			//- +iconSvg('34', '32', '0 0 34 32', 'icon-star')