extends layout.pug

block variabl
	- var title = ""

block header
	include include/header

block main
	main.section_main

		.container
			//- h1 12345

			.box-edit Text preview

			//- +iconSvg('34', '32', '0 0 34 32', 'icon-star')
	
	//- sidebar.m-sidebar
	//- 	.m-field
	//- 		input(type="text" placeholder="Tag name")#m-tag.m-input
	//- 	.m-field
	//- 		input(type="range" id="m-margin-top" data-m-fun="margin-top" data-range min="0" max="500" value="0")
	//- 		label(for="m-margin-top") margin-top: #[span.result-m]
	//- 	.m-field
	//- 		input(type="range" id="m-margin-left" data-m-fun="margin-left" data-range min="0" max="500" value="0")
	//- 		label(for="m-margin-left") margin-left: #[span.result-m]
	//- 	.m-field
	//- 		input(type="range" id="m-margin-bottom" data-m-fun="margin-bottom" data-range min="0" max="500" value="0")
	//- 		label(for="m-margin-left") margin-bottom: #[span.result-m]
	//- 	.m-field
	//- 		input(type="range" id="m-margin-right" data-m-fun="margin-right" data-range min="0" max="500" value="0")
	//- 		label(for="m-margin-left") margin-right: #[span.result-m]