header.header
	.container.flex-container
		.logo
			a.logo-link(href="/")
				img(src="img/logo.png", alt="")
		nav.top-menu--wrapper
			ul.top-menu
				li.active
					a(href="#") Грузоперевозки
				li
					a(href="#") Квартирный переезд
				li
					a(href="#") Вывоз мусора
				li
					a(href="#") Вывоз вторсырья
				li
					a(href="#") Контакты
		.phone-head
			a(href="tel:8977102000").phone-link #[img(src="img/icon/phone-icon.png", alt="", class="icon-phone")] 8 (977) 10-2000
